{{#if flash.enabled}}
    {{> components/flash_tools}}
{{/if}}

<div class="frame-1">
  <div class="frame-1-1">
    <a href="/" id="logo-wrapper" class="nav-tools__logo-wrapper">
      {{#if logo}}
        <img  class="img-header" id="image-logo" src="{{logo}}" alt="{{name}}" />
      {{else}}
      <span class="header--custom-text">
          {{name}}
      </span>
      {{/if}}
    </a>
  </div>

  <div class="frame-1-2">
    <form class="frame-1-2-1" id="search-form" novalidate="">
      <input type="text" placeholder="Ola, que você  procura?"  id="search-input" required="" autocomplete="off"/>
      <button  type="submit" id="nav-search-button">
      <span class=" icon-search">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 34 34" fill="none">
          <path d="M22.1117 19.8884H21.0469L20.6696 19.5245C21.9904 17.988 22.7856 15.9933 22.7856 13.8234C22.7856 8.98498 18.8636 5.06299 14.0251 5.06299C9.18664 5.06299 5.26465 8.98498 5.26465 13.8234C5.26465 18.6619 9.18664 22.5839 14.0251 22.5839C16.195 22.5839 18.1897 21.7887 19.7261 20.4679L20.09 20.8453V21.91L26.8288 28.6354L28.837 26.6272L22.1117 19.8884ZM14.0251 19.8884C10.6692 19.8884 7.96017 17.1794 7.96017 13.8234C7.96017 10.4675 10.6692 7.75851 14.0251 7.75851C17.381 7.75851 20.09 10.4675 20.09 13.8234C20.09 17.1794 17.381 19.8884 14.0251 19.8884Z" fill="#000"/>
        </svg>
      </span>
    </button>
    </form>
  </div>

  <div class="frame-1-3">
    <a href="https://api.whatsapp.com/send?phone=5511964930752" target="">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="26" viewBox="0 0 22 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1074 13.1168C13.7355 13.1168 13.0196 14.5065 12.5897 14.5065C12.4777 14.5018 12.369 14.4673 12.2748 14.4066C11.4729 14.0046 10.771 13.5897 10.1122 12.9598C9.56726 12.4439 8.96637 11.6701 8.65243 10.9972C8.6091 10.9335 8.58387 10.8592 8.57944 10.7822C8.57944 10.4523 9.56926 9.83739 9.56926 9.29249C9.56926 9.14952 8.83939 7.20287 8.73741 6.95792C8.59444 6.58599 8.52345 6.47101 8.13752 6.47101C7.95055 6.47101 7.77759 6.42801 7.60762 6.42801C7.30567 6.42801 7.07771 6.54299 6.86175 6.74296C6.17388 7.38784 5.82994 8.06072 5.80195 9.00655V9.12052C5.78695 10.1103 6.27386 11.0972 6.81876 11.9C8.04854 13.7197 9.3243 15.3094 11.3719 16.2392C11.9878 16.5262 13.4066 17.1271 14.0934 17.1271C14.9103 17.1271 16.243 16.6122 16.571 15.8093C16.701 15.4794 16.8149 15.0794 16.8149 14.7215C16.8149 14.6635 16.8149 14.5775 16.7849 14.5065C16.685 14.3346 14.3514 13.1168 14.1074 13.1168ZM11.2 20.7084C9.45328 20.7084 7.7206 20.1785 6.25886 19.2187L2.79249 20.3205L3.92429 16.9841C2.80777 15.4533 2.20566 13.6078 2.2046 11.7131C2.2046 6.75895 6.24386 2.71969 11.2 2.71969C16.1561 2.71969 20.1963 6.75795 20.1963 11.7121C20.1963 16.6692 16.1571 20.7084 11.2 20.7084ZM11.2 0.914017C5.24105 0.914017 0.401927 5.75514 0.401927 11.7121C0.401927 13.6757 0.93183 15.6093 1.94765 17.285L0 23.086L5.97291 21.1663C7.61755 22.0743 9.47048 22.5377 11.3489 22.5109C13.2273 22.4842 15.0663 21.9681 16.6844 21.0137C18.3025 20.0593 19.6438 18.6995 20.5759 17.0685C21.5081 15.4375 21.9989 13.5917 22 11.7131C22 5.75614 17.1589 0.914017 11.2 0.914017Z" fill="black"/>
      </svg>
      <p>Fale com a gente<BR>
      <strong>NO WHATSAPP<strong></p>
    </a>
      {{#if cart}}
        <a href="{{cart.href}}" title="Carrito" class="cart-button" id="nav-cart">
          {{> legend/views/partials/cart}}
          {{> legend/views/partials/cart-badge}}
        </a>
      {{/if}}
  </div>
</div>
<div class="line-gradient"></div>
<nav class="frame-2">
  <a class="nav-link active" aria-current="page" href="https://www.caiamodapraia.com.br/_Discount_5-100" target="">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="15" viewBox="0 0 25 12" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.0303 0.696976C1.35671 0.696976 0 2.05369 0 3.72728V8.27273C0 9.94629 1.35671 11.303 3.0303 11.303H21.9697C23.6433 11.303 25 9.94629 25 8.27273V3.72728C25 2.05369 23.6433 0.696976 21.9697 0.696976H3.0303ZM4.4552 4.07351L4.42856 3.46982H3.65175V8.27273H4.47295V4.85032C4.5854 4.6195 4.74225 4.43307 4.94348 4.29102C5.14471 4.14898 5.37849 4.07795 5.64483 4.07795C5.97331 4.07795 6.21448 4.16082 6.36837 4.32654C6.52521 4.49226 6.60511 4.74823 6.60808 5.09447V8.27273H7.42927V5.09891C7.42039 3.95367 6.90844 3.38104 5.89341 3.38104C5.30155 3.38104 4.82214 3.61187 4.4552 4.07351ZM8.72545 4.55735C8.54197 4.93319 8.45023 5.35636 8.45023 5.82688V5.8846C8.45023 6.63033 8.65144 7.22959 9.05394 7.68235C9.45932 8.13513 9.98758 8.36152 10.6386 8.36152C11.0707 8.36152 11.4524 8.25794 11.7839 8.05079C12.1183 7.84363 12.3742 7.5551 12.5518 7.18519C12.7323 6.81233 12.8226 6.39211 12.8226 5.92454V5.86684C12.8226 5.11518 12.6198 4.51297 12.2144 4.06019C11.812 3.60743 11.2837 3.38104 10.6297 3.38104C10.2066 3.38104 9.82924 3.48313 9.4978 3.68733C9.16932 3.89152 8.91189 4.18153 8.72545 4.55735ZM9.64432 7.20739C9.39864 6.88483 9.27583 6.45722 9.27583 5.92454C9.27583 5.32381 9.40015 4.86216 9.64871 4.5396C9.89735 4.21704 10.2243 4.05576 10.6297 4.05576C11.044 4.05576 11.3755 4.22 11.6241 4.54848C11.8756 4.874 12.0014 5.30013 12.0014 5.82688C12.0014 6.41579 11.8786 6.87448 11.633 7.20295C11.3873 7.52847 11.0559 7.69123 10.6386 7.69123C10.2243 7.69123 9.89288 7.52995 9.64432 7.20739ZM16.5557 3.46982L15.3661 7.15857L14.1454 3.46982H13.3064L15.0464 8.27273H15.6723L17.3946 3.46982H16.5557ZM18.1714 4.55735C17.988 4.93319 17.8962 5.35636 17.8962 5.82688V5.8846C17.8962 6.63033 18.0975 7.22959 18.4999 7.68235C18.9054 8.13513 19.4336 8.36152 20.0846 8.36152C20.5167 8.36152 20.8984 8.25794 21.2298 8.05079C21.5642 7.84363 21.8202 7.5551 21.9978 7.18519C22.1783 6.81233 22.2686 6.39211 22.2686 5.92454V5.86684C22.2686 5.11518 22.0659 4.51297 21.6605 4.06019C21.258 3.60743 20.7298 3.38104 20.0758 3.38104C19.6526 3.38104 19.2753 3.48313 18.9439 3.68733C18.6154 3.89152 18.3579 4.18153 18.1714 4.55735ZM19.0903 7.20739C18.8447 6.88483 18.7219 6.45722 18.7219 5.92454C18.7219 5.32381 18.8462 4.86216 19.0948 4.5396C19.3433 4.21704 19.6703 4.05576 20.0758 4.05576C20.4901 4.05576 20.8215 4.22 21.0701 4.54848C21.3216 4.874 21.4473 5.30013 21.4473 5.82688C21.4473 6.41579 21.3245 6.87448 21.0789 7.20295C20.8333 7.52847 20.5019 7.69123 20.0846 7.69123C19.6703 7.69123 19.3389 7.52995 19.0903 7.20739Z" fill="#00B5E5"/>
    </svg>
    aproveite os super descontos
  </a>
  <a class="nav-link" href="https://www.caiamodapraia.com.br/Biqu%C3%ADni" target="">
    biquínis
  </a>
  <a class="nav-link" href="https://www.caiamodapraia.com.br/lista/calcados-roupas-bolsas/bermudas-shorts/" target="">
    shorts e bermudas
  </a>
  <a class="nav-link" href="https://www.caiamodapraia.com.br/lista/esportes-fitness/moda-fitness/" target="">
    moda fitness
  </a>
  <a class="nav-link" href="https://www.caiamodapraia.com.br/Sunga">
    sungas
  </a>
  <a class="nav-link" href="https://www.caiamodapraia.com.br/Infantil">
    linha kids
  </a>
  <a class="nav-link" href="https://www.caiamodapraia.com.br/lista/calcados-roupas-bolsas/acessorios-moda/#applied_filter_id%3Dcategory%26applied_filter_name%3DCategorias%26applied_filter_order%3D3%26applied_value_id%3DMLB1451%26applied_value_name%3DAcess%C3%B3rios+de+Moda%26applied_value_order%3D1%26applied_value_results%3D19%26is_custom%3Dfalse">
    acessórios
  </a>
</nav>


{{!-- Mobile --}}

<header class="frame-1-mobile">
  <div class="frame-1-1-mobile">
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 54 42" fill="none">
        <path d="M0 3C0 1.34315 1.34315 0 3 0H51C52.6569 0 54 1.34315 54 3C54 4.65685 52.6569 6 51 6H3C1.34315 6 0 4.65685 0 3Z" fill="#0E346D"/>
        <path d="M0 21C0 19.3431 1.34315 18 3 18H51C52.6569 18 54 19.3431 54 21C54 22.6569 52.6569 24 51 24H3C1.34315 24 0 22.6569 0 21Z" fill="#0E346D"/>
        <path d="M0 39C0 37.3431 1.34315 36 3 36H51C52.6569 36 54 37.3431 54 39C54 40.6569 52.6569 42 51 42H3C1.34315 42 0 40.6569 0 39Z" fill="#0E346D"/>
      </svg>
    </button>
  </div>
  <div class="frame-1-2-mobile">
    <a href="/" id="logo-wrapper" class="nav-tools__logo-wrapper">
      {{#if logo}}
        <img  class="img-header" id="image-logo" src="{{logo}}" alt="{{name}}" />
      {{else}}
      <span class="header--custom-text">
          {{name}}
      </span>
      {{/if}}
    </a>
  </div>

  <div class="frame-1-3-mobile">
  <a href="" target="https://www.caiamodapraia.com.br/gz/cart">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 33 32" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.07025 2.09475C3.31714 2.09494 3.55601 2.18256 3.74462 2.34211C3.93322 2.50165 4.05941 2.72285 4.10087 2.96658L7.77786 24.6084C7.90198 25.3399 8.28069 26.0039 8.8469 26.4826C9.41311 26.9614 10.1303 27.2239 10.8713 27.2238H24.7039C24.8446 27.2293 24.985 27.2063 25.1166 27.1561C25.2482 27.106 25.3683 27.0297 25.4698 26.932C25.5713 26.8342 25.652 26.7169 25.7072 26.5872C25.7623 26.4574 25.7907 26.3179 25.7907 26.1769C25.7907 26.0359 25.7623 25.8963 25.7072 25.7666C25.652 25.6368 25.5713 25.5195 25.4698 25.4218C25.3683 25.324 25.2482 25.2478 25.1166 25.1976C24.985 25.1475 24.8446 25.1244 24.7039 25.1299H10.8713C10.624 25.1304 10.3846 25.043 10.1956 24.8834C10.0066 24.7238 9.88031 24.5022 9.8391 24.2581L6.16212 2.6147C6.03766 1.88341 5.6588 1.2198 5.09263 0.741392C4.52645 0.262981 3.80949 0.000627459 3.06868 0.000785471H1.69765C1.55695 -0.0046734 1.41659 0.0183655 1.28498 0.0685217C1.15338 0.118678 1.03324 0.194919 0.931759 0.292679C0.83028 0.390438 0.74955 0.507704 0.694407 0.637451C0.639263 0.767198 0.61084 0.906757 0.61084 1.04777C0.61084 1.18878 0.639263 1.32833 0.694407 1.45808C0.74955 1.58783 0.83028 1.70509 0.931759 1.80285C1.03324 1.90061 1.15338 1.97685 1.28498 2.02701C1.41659 2.07717 1.55695 2.10021 1.69765 2.09475H3.07025Z" fill="#797474"/>
      <path d="M22.0889 29.3194C22.0178 29.3155 21.9466 29.3261 21.8798 29.3507C21.8129 29.3753 21.7518 29.4132 21.7001 29.4623C21.6483 29.5113 21.6071 29.5704 21.579 29.6359C21.5508 29.7014 21.5363 29.7719 21.5363 29.8433C21.5363 29.9146 21.5508 29.9851 21.579 30.0507C21.6071 30.1162 21.6483 30.1752 21.7001 30.2243C21.7518 30.2733 21.8129 30.3113 21.8798 30.3358C21.9466 30.3604 22.0178 30.371 22.0889 30.3671C22.2227 30.3598 22.3486 30.3014 22.4407 30.204C22.5329 30.1065 22.5842 29.9774 22.5842 29.8433C22.5842 29.7091 22.5329 29.58 22.4407 29.4826C22.3486 29.3851 22.2227 29.3267 22.0889 29.3194Z" fill="#797474"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.987 30.3561C21.8619 30.3284 21.7513 30.2557 21.6762 30.1518C21.601 30.048 21.5664 29.9202 21.579 29.7925C21.5915 29.6648 21.6503 29.5462 21.7443 29.459C21.8383 29.3719 21.9609 29.3222 22.0889 29.3194C22.1577 29.319 22.2259 29.3322 22.2895 29.3583C22.3532 29.3844 22.4111 29.4229 22.4598 29.4716C22.5085 29.5202 22.5471 29.578 22.5734 29.6417C22.5996 29.7054 22.6131 29.7736 22.6129 29.8425C22.613 29.92 22.5959 29.9967 22.5628 30.0668C22.5298 30.137 22.4815 30.1988 22.4216 30.248C22.3617 30.2972 22.2916 30.3324 22.2164 30.3511C22.1413 30.3698 22.0629 30.3715 21.987 30.3561ZM23.198 28.7319C23.0533 28.5818 22.8802 28.4622 22.6888 28.3798C22.4974 28.2975 22.2916 28.2542 22.0833 28.2524C21.875 28.2506 21.6684 28.2903 21.4756 28.3693C21.2829 28.4483 21.1077 28.5649 20.9604 28.7124C20.8131 28.8599 20.6966 29.0353 20.6178 29.2283C20.5389 29.4214 20.4992 29.6282 20.501 29.8368C20.5028 30.0454 20.5461 30.2515 20.6283 30.4432C20.7105 30.6348 20.83 30.8082 20.9799 30.9531C21.1255 31.099 21.2984 31.2148 21.4888 31.2938C21.6791 31.3729 21.8831 31.4136 22.0891 31.4137C22.2952 31.4137 22.4992 31.3732 22.6896 31.2943C22.88 31.2154 23.053 31.0997 23.1988 30.9539C23.3445 30.808 23.4601 30.6349 23.5391 30.4443C23.618 30.2537 23.6586 30.0494 23.6587 29.843C23.6588 29.6367 23.6183 29.4324 23.5395 29.2417C23.4607 29.0511 23.3452 28.8778 23.1995 28.7319H23.198ZM11.6321 28.2716C12.0481 28.2716 12.4471 28.4371 12.7413 28.7317C13.0355 29.0263 13.2008 29.4259 13.2008 29.8425C13.2008 30.2591 13.0355 30.6587 12.7413 30.9532C12.4471 31.2478 12.0481 31.4133 11.6321 31.4133C11.2161 31.4133 10.8171 31.2478 10.5229 30.9532C10.2287 30.6587 10.0634 30.2591 10.0634 29.8425C10.0634 29.4259 10.2287 29.0263 10.5229 28.7317C10.8171 28.4371 11.2161 28.2716 11.6321 28.2716ZM29.9323 6.27481C30.2501 6.27464 30.5638 6.34702 30.8495 6.48645C31.1352 6.62589 31.3854 6.8287 31.5811 7.07949C31.7768 7.33027 31.9129 7.62243 31.9789 7.93375C32.0449 8.24508 32.0392 8.56738 31.9622 8.87616L29.9402 16.9755C29.6572 18.108 29.0044 19.1133 28.0855 19.8317C27.1666 20.55 26.0344 20.9403 24.8686 20.9404H8.03669C7.89598 20.9459 7.75562 20.9228 7.62402 20.8727C7.49241 20.8225 7.37227 20.7463 7.27079 20.6485C7.16931 20.5507 7.08858 20.4335 7.03344 20.3037C6.9783 20.174 6.94987 20.0344 6.94987 19.8934C6.94987 19.7524 6.9783 19.6128 7.03344 19.4831C7.08858 19.3534 7.16931 19.2361 7.27079 19.1383C7.37227 19.0406 7.49241 18.9643 7.62402 18.9142C7.75562 18.864 7.89598 18.841 8.03669 18.8464H24.8686C25.568 18.8464 26.2474 18.6124 26.7987 18.1815C27.3501 17.7506 27.7419 17.1475 27.9119 16.4681L29.9339 8.36878H5.90172C5.63143 8.35829 5.37571 8.2434 5.18818 8.04819C5.00066 7.85299 4.89591 7.59266 4.89591 7.32179C4.89591 7.05093 5.00066 6.7906 5.18818 6.5954C5.37571 6.40019 5.63143 6.2853 5.90172 6.27481H29.9323Z" fill="#797474"/>
    </svg>
  </a>
  </div>
</header>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button class="frame-bttn-mobile"  data-bs-dismiss="offcanvas" aria-label="Close">
      X
    </button>
  </div>
  <div class="offcanvas-body">
      <div class="frame-1-4-mobile">
        <form class="form-mobile" id="search-form-responsive" novalidate="">
          <input type="text" placeholder="Procurando?"  id="search-input-responsive" required="" autocomplete="off"/>
          <button  type="submit" id="nav-search-button">
            <span class=" icon-search">
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <path d="M22.1117 19.8884H21.0469L20.6696 19.5245C21.9904 17.988 22.7856 15.9933 22.7856 13.8234C22.7856 8.98498 18.8636 5.06299 14.0251 5.06299C9.18664 5.06299 5.26465 8.98498 5.26465 13.8234C5.26465 18.6619 9.18664 22.5839 14.0251 22.5839C16.195 22.5839 18.1897 21.7887 19.7261 20.4679L20.09 20.8453V21.91L26.8288 28.6354L28.837 26.6272L22.1117 19.8884ZM14.0251 19.8884C10.6692 19.8884 7.96017 17.1794 7.96017 13.8234C7.96017 10.4675 10.6692 7.75851 14.0251 7.75851C17.381 7.75851 20.09 10.4675 20.09 13.8234C20.09 17.1794 17.381 19.8884 14.0251 19.8884Z" fill="white"/>
              </svg>
            </span>
          </button>
        </form>
      </div>
    <ul class="menu" aria-labelledby="dropdownMenuButton">
      <li><a class="mega-menu-item-mobile" href="https://www.caiamodapraia.com.br/_Discount_5-100">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="15" viewBox="0 0 25 12" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.0303 0.696976C1.35671 0.696976 0 2.05369 0 3.72728V8.27273C0 9.94629 1.35671 11.303 3.0303 11.303H21.9697C23.6433 11.303 25 9.94629 25 8.27273V3.72728C25 2.05369 23.6433 0.696976 21.9697 0.696976H3.0303ZM4.4552 4.07351L4.42856 3.46982H3.65175V8.27273H4.47295V4.85032C4.5854 4.6195 4.74225 4.43307 4.94348 4.29102C5.14471 4.14898 5.37849 4.07795 5.64483 4.07795C5.97331 4.07795 6.21448 4.16082 6.36837 4.32654C6.52521 4.49226 6.60511 4.74823 6.60808 5.09447V8.27273H7.42927V5.09891C7.42039 3.95367 6.90844 3.38104 5.89341 3.38104C5.30155 3.38104 4.82214 3.61187 4.4552 4.07351ZM8.72545 4.55735C8.54197 4.93319 8.45023 5.35636 8.45023 5.82688V5.8846C8.45023 6.63033 8.65144 7.22959 9.05394 7.68235C9.45932 8.13513 9.98758 8.36152 10.6386 8.36152C11.0707 8.36152 11.4524 8.25794 11.7839 8.05079C12.1183 7.84363 12.3742 7.5551 12.5518 7.18519C12.7323 6.81233 12.8226 6.39211 12.8226 5.92454V5.86684C12.8226 5.11518 12.6198 4.51297 12.2144 4.06019C11.812 3.60743 11.2837 3.38104 10.6297 3.38104C10.2066 3.38104 9.82924 3.48313 9.4978 3.68733C9.16932 3.89152 8.91189 4.18153 8.72545 4.55735ZM9.64432 7.20739C9.39864 6.88483 9.27583 6.45722 9.27583 5.92454C9.27583 5.32381 9.40015 4.86216 9.64871 4.5396C9.89735 4.21704 10.2243 4.05576 10.6297 4.05576C11.044 4.05576 11.3755 4.22 11.6241 4.54848C11.8756 4.874 12.0014 5.30013 12.0014 5.82688C12.0014 6.41579 11.8786 6.87448 11.633 7.20295C11.3873 7.52847 11.0559 7.69123 10.6386 7.69123C10.2243 7.69123 9.89288 7.52995 9.64432 7.20739ZM16.5557 3.46982L15.3661 7.15857L14.1454 3.46982H13.3064L15.0464 8.27273H15.6723L17.3946 3.46982H16.5557ZM18.1714 4.55735C17.988 4.93319 17.8962 5.35636 17.8962 5.82688V5.8846C17.8962 6.63033 18.0975 7.22959 18.4999 7.68235C18.9054 8.13513 19.4336 8.36152 20.0846 8.36152C20.5167 8.36152 20.8984 8.25794 21.2298 8.05079C21.5642 7.84363 21.8202 7.5551 21.9978 7.18519C22.1783 6.81233 22.2686 6.39211 22.2686 5.92454V5.86684C22.2686 5.11518 22.0659 4.51297 21.6605 4.06019C21.258 3.60743 20.7298 3.38104 20.0758 3.38104C19.6526 3.38104 19.2753 3.48313 18.9439 3.68733C18.6154 3.89152 18.3579 4.18153 18.1714 4.55735ZM19.0903 7.20739C18.8447 6.88483 18.7219 6.45722 18.7219 5.92454C18.7219 5.32381 18.8462 4.86216 19.0948 4.5396C19.3433 4.21704 19.6703 4.05576 20.0758 4.05576C20.4901 4.05576 20.8215 4.22 21.0701 4.54848C21.3216 4.874 21.4473 5.30013 21.4473 5.82688C21.4473 6.41579 21.3245 6.87448 21.0789 7.20295C20.8333 7.52847 20.5019 7.69123 20.0846 7.69123C19.6703 7.69123 19.3389 7.52995 19.0903 7.20739Z" fill="#00B5E5"/>
      </svg>
      aproveite os super descontos
      </a></li>
      <li><a class="mega-menu-item-mobile" href="https://www.caiamodapraia.com.br/Biqu%C3%ADni">biquínis</a></li>
      <li><a class="mega-menu-item-mobile" href="https://www.caiamodapraia.com.br/lista/calcados-roupas-bolsas/bermudas-shorts/">shorts e bermudas</a></li>
      <li><a class="mega-menu-item-mobile" href="https://www.caiamodapraia.com.br/lista/esportes-fitness/moda-fitness/">moda fitness</a></li>
      <li><a class="mega-menu-item-mobile" href="https://www.caiamodapraia.com.br/Sunga">sungas</a></li>
      <li><a class="mega-menu-item-mobile" href="https://www.caiamodapraia.com.br/Infantil">linha kids</a></li>
      <li><a class="mega-menu-item-mobile" href="https://www.caiamodapraia.com.br/lista/calcados-roupas-bolsas/acessorios-moda/#applied_filter_id%3Dcategory%26applied_filter_name%3DCategorias%26applied_filter_order%3D3%26applied_value_id%3DMLB1451%26applied_value_name%3DAcess%C3%B3rios+de+Moda%26applied_value_order%3D1%26applied_value_results%3D19%26is_custom%3Dfalse">acessórios</a></li>
    </ul>
  </div>
</div>